<%= form_for @project do |f| %>
<p>
<%= f.label :title %></br>
<%= f.text_field :title %>
<% # errors.inspectでmessages配列の構造を確認 %>
<%= @project.errors.messages[:title][0] %>
</p>

<p>
<%= f.submit %>
</p>

<% end %>
